# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Local data
.cache/

# Tooling
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage

# Environment / secrets
.env
.envrc

# Editors & OS
.idea/
.vscode/
.DS_Store
